.div-tablero { 
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tablero-div {
    height: 50rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
    justify-content: center;
    padding: 9rem 10rem;
}

.div-item {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.div-item:hover {
    transition: 1s;
    background-color: blue;
}

.marcado {
    background-color: red;
}